
.tarjeta{
    width: 100%;
}

.tarjetaTitulo{
    text-align: center;
    align-items: center;
    font-size: 24px;

}

.tarjetaContenido{
    text-align: start;
    width: 100%;
}

.subtitulos{
    color: black;
}

.evidencia{
    width: 60px;
    height: 60px;
}

