.title{
    font-size: large;
    /* color: black; */
    left: 10px;
    top: 2px;
    position: relative;
}

.subTitle{
    color: black;
    text-align: left;
}

.inputText{
    text-align: left;
}

.colum{
    text-align: left;
}

.slider{
    //width: 3em;
}