<div *ngIf="loading == true">
  <ion-spinner class="main-spinner" name="dots" color="primary"></ion-spinner>
</div>
<div *ngIf="progCargada == false">
  <p style="color:#888;padding:25px">
    No fue posible cargar la programación de inspecciones.
    <a *ngIf="progCargada == false" (click)="cargarProgramacion()">Reintentar</a>
  </p>
</div>

<ion-card *ngFor="let prog of programacionList | sortBydate">
  <ion-item>
    <ion-label>{{prog.area.nombre}} </ion-label>
    <ion-button [color]="prog.numeroRealizadas == prog.numeroInspecciones ? 'secondary':'primary'" [disabled]="prog.numeroRealizadas == prog.numeroInspecciones"
      fill="outline" slot="end" (click)="onProgSelect(prog)" *sTienePermiso="['INP_POST_INP']">
      {{prog.numeroRealizadas == prog.numeroInspecciones ? 'Finalizado':'Realizar'}}
    </ion-button>
  </ion-item>
  <ion-card-header>
    <ion-card-title>{{prog.numeroRealizadas}}/{{prog.numeroInspecciones}} </ion-card-title>
    <ion-card-subtitle>{{prog.listaInspeccion.nombre}} <br/> {{prog.fecha | date:'dd/MM/yyyy'}}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="prog.offlineDone > 0">
    <p>
      Pdte sincronizar:
      <ion-badge color="warning">{{prog.offlineDone}}</ion-badge>
    </p>
  </ion-card-content>
</ion-card>