
<div *ngIf="loading == true">
    <ion-spinner class="main-spinner" name="dots" color="primary"></ion-spinner>
  </div>

<div *ngIf="listasCargadas == false">
    <p style="color:#888;padding:25px">
        No fue posible cargar las listas de inspección.
        <a *ngIf="listasCargadas == false" (click)="cargarListas()">Reintentar</a>
    </p>
</div>

<ion-card *ngFor="let lista of listasInspeccion; let i = index">
    <ion-card-header>
        <ion-item>
            <h6>{{lista.nombre}}</h6>
            <ion-button fill="outline" slot="end" *sTienePermiso="['SEC_GET_SISTNR', 'INP_GET_LISTINP']" (click)="seleccionarLista(lista)">
                Realizar
            </ion-button>
        </ion-item>
        <ion-card-content>
            <p>{{lista.codigo}}</p>
            <p>{{lista.descripcion}}</p>
        </ion-card-content>
    </ion-card-header>
</ion-card>