<!--Listas-->
<ion-slides>    
    <div style="width: 100%;">      
      <!--Codigo-->
      <ion-item>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label position="stacked">
          Código
        </ion-label>
        <ion-input (ionChange)="filtrarCodigo($event)" clear-input="true" debounce="500"></ion-input>
      </ion-item>
      <!--Nombre-->
      <ion-item>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label position="stacked">
          Nombre
        </ion-label>
        <ion-input (ionChange)="filtrarNombre($event)" clear-input="true" debounce="500"></ion-input>
      </ion-item>
      <!--Descripcion-->
      <ion-item>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label position="stacked">
          Descripcion
        </ion-label>
        <ion-input (ionChange)="filtrarDescripcion($event)" clear-input="true" debounce="500"></ion-input>
      </ion-item>
    </div>
</ion-slides>

<div *ngIf="loading == true">
    <ion-spinner class="main-spinner" name="dots" color="primary"></ion-spinner>
  </div>

<div *ngIf="listasCargadas == false">
    <p style="color:#888;padding:25px">
        No fue posible cargar las listas de inspección.
        <a *ngIf="listasCargadas == false" (click)="cargarListas()">Reintentar</a>
    </p>
</div>

<ion-card *ngFor="let lista of listasInspeccion; let i = index">
    <ion-card-header>
        <ion-item>
            <h6>{{lista.nombre}}</h6>
            <ion-button fill="outline" slot="end" *sTienePermiso="['SEC_GET_SISTNR', 'INP_GET_LISTINP']" (click)="seleccionarLista(lista)">
                Realizar
            </ion-button>
        </ion-item>
        <ion-card-content>
            <p>{{lista.codigo}}</p>
            <p>{{lista.descripcion}}</p>
        </ion-card-content>
    </ion-card-header>
</ion-card>

<ion-card *ngIf="listasInspeccion.length ==0" class="NoFound">
  <ion-icon name="search" slot="start"></ion-icon>
  <ion-label>
    No se encontraron registros
  </ion-label>
  <ion-icon name="alert"></ion-icon>
</ion-card>
