
<p-autoComplete
    placeholder="Identificación, correo electrónico o nombres y apellidos"
    [style]="{ width: '100%' }"
    (onSelect)="onSelection($event)"
    [suggestions]="empleadosList"
    (completeMethod)="buscarEmpleado($event)"
    [(ngModel)]="_value"
    *ngIf="_value?.id == null"
    (onClear)="resetEmpleado()"
>
    <ng-template let-empleado pTemplate="item">
        <div class="ui-helper-clearfix">
            <div class="wrapper">
                <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle" style="font-size: 48px" aria-hidden="true"></i>
                <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon" style="border-radius: 50%" #imgAvatar />
                <div style="margin-left: 20px">
                    <label>{{ empleado?.primerNombre }} {{ empleado?.segundoNombre }} {{ empleado?.primerApellido }}</label>
                    <br />
                    {{ empleado?.numeroIdentificacion }} <br />
                    {{ empleado?.usuario.email }}
                </div>
            </div>
        </div>
    </ng-template>
</p-autoComplete>