<ion-content *ngIf="trackings?.length > 0">
  <!-- <ion-label class="Titulo"  color="primary">Listado de seguimientos</ion-label> -->
  <ion-card class="tarjeta" *ngFor="let tracking of trackings; let i = index">
    <!-- <ion-card-title>
       <ion-item>
          <ion-label class="tarjetaTitulo"  color="primary">Seguimiento #{{i+1}}</ion-label>
       </ion-item>
     </ion-card-title> -->
   <ion-card-content class="tarjetaContenido">
     
        
        <ion-label class="subtitulos">Fecha de seguimiento</ion-label>
        <td class="inputText">{{tracking?.followDate|date:'dd-MM-yyyy'}}</td>
            
        <ion-label class="subtitulos">Usuario</ion-label>
        <td class="inputText" type="text">{{tracking?.pkUser.usuario.email}}</td>

        <ion-label class="subtitulos">Descripción</ion-label>
        <td class="inputText">{{tracking?.description}}</td>       
        
        <ion-label class="subtitulos">Evidencias</ion-label>
        <td class="inputText">
          <ion-button (click)="viewEvidence(tracking?.id)" *ngIf="tracking?.evidences.length > 0">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-label *ngIf="tracking?.evidences.length == 0">No posee</ion-label>
        </td>             
        
   </ion-card-content>
 </ion-card>
</ion-content>
<!-- <ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <app-modal-content></app-modal-content>
  </ng-template>
</ion-modal> -->
<ion-content *ngIf="trackings?.length == 0">
  <ion-label style="font-size: large; text-align: center;">Esta tarea no posee seguimientos</ion-label>
</ion-content>