<div *ngIf="loading == true">
    <ion-spinner class="main-spinner" name="dots" color="primary"></ion-spinner>
</div>
<div *ngIf="inspCargadas == false">
    <p style="color: #888; padding: 25px">
        No fue posible cargar la programación de inspecciones.
        <a *ngIf="inspCargadas == false" (click)="this.cargarRealizadas()">Reintentar</a>
    </p>
</div>

<ion-slides>
    <div style="width: 100%">
        <!--Fecha-->
        <ion-label position="stacked"> <ion-card-subtitle style="margin-left: 3%">Filtrar por fecha</ion-card-subtitle> </ion-label>
        <ion-item>
            <ion-icon name="search" slot="start"></ion-icon>

            <ion-label position="stacked"> Desde: </ion-label>
            <ion-datetime
                cancelText="Cancelar"
                doneText="Ok"
                max="2022"
                displayFormat="DD/MM/YYYY"
                picker-format="DD, MMMM, YYYY"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                (ionChange)="filtrarFechaDesde($event)"
            ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label position="stacked"> Hasta: </ion-label>
            <ion-datetime
                min="{{ filtFechaDesde | date: 'yyyy-MM-dd' }}"
                max="2022"
                cancelText="Cancelar"
                doneText="Ok"
                displayFormat="DD/MM/YYYY"
                picker-format="DD, MMMM, YYYY"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                (ionChange)="filtrarFechaHasta($event)"
            ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-button (click)="Reset()">
                {{ tituloButton }}
            </ion-button>
        </ion-item>
    </div>
</ion-slides>
<ion-card *ngFor="let inspeccion of inspList">
    <ion-item>
        <ion-label>{{ inspeccion.area.nombre }} </ion-label>
        <!-- <ion-button [color]="'secondary'" [disabled]="true" fill="outline" slot="end">
            *sTienePermiso="['INP_POST_INP']"
            {{ inspeccion.numeroRealizadas == inspeccion.numeroInspecciones ? 'Finalizado' : 'Realizar' }}
        </ion-button> -->
    </ion-item>
    <ion-card-header>
        <ion-card-title>INP-{{ inspeccion.id }}</ion-card-title>
        <ion-card-subtitle>
            {{ inspeccion.listaInspeccion.nombre }} <br />
            Usuario Realiza: {{ inspeccion.usuarioRegistra.email }} <br />
            Realizada: {{ inspeccion.fechaRealizada | date: 'dd/MM/yyyy HH:mm' }}
        </ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content *ngIf="inspeccion.offlineDone > 0">
        <p>
            Pdte sincronizar:
            <ion-badge color="warning">{{ inspeccion.offlineDone }}</ion-badge>
        </p>
    </ion-card-content> -->
</ion-card>

<ion-card *ngIf="inspList?.length == 0" class="NoFound">
    <ion-icon name="search" slot="start"></ion-icon>
    <ion-label> No se encontraron registros </ion-label>
    <ion-icon name="alert"></ion-icon>
</ion-card>
